<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<script th:src="@{~/js/plugin/pace.min.js}"></script>
<script th:src="@{~/js/core/libraries/jquery.min.js}"></script>
<script th:src="@{~/js/core/libraries/bootstrap.min.js}"></script>
<script th:src="@{~/js/plugin/blockui.min.js}"></script>
<script th:src="@{~/js/plugin/nicescroll.min.js}"></script>
<script th:src="@{~/js/plugin/drilldown.js}"></script>
<script th:src="@{~/js/plugin/fab.min.js}"></script>
<script th:src="@{~/js/core/libraries/jasny_bootstrap.min.js}"></script>
<script th:src="@{~/js/plugin/prism.min.js}"></script>
<script th:src="@{~/js/loaders/sweetalert2.all.min.js}"></script>
<script th:src="@{~/js/core/app.js}"></script>
<script th:src="@{~/js/plugin/ripple.min.js}"></script>
<script th:src="@{~/js/leaflet/leaflet.js}"></script>
<script th:src="@{~/js/notifications/pnotify.custom.min.js}"></script>
<script th:src="@{~/js/grid/jsgrid.min.js}"></script>
<script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
<script th:src="@{~/js/planetary/planetaryjs.min.js}"></script>
